doctype html
html
  head
    title=title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/__prism.css')
    style.
      html, body {
        margin: 0;
        padding: 0px;
        font-size: 13px;
        background-color: #f0f0f0;
      }

      @media screen and (min-width: 960px) {
        .code-body{
          box-sizing: border-box;
          min-width: 200px;
          max-width: 980px;
          margin: 0 auto;
          padding: 45px;
        }
      }

      .code-body code, .code-body pre {
        background-color: #fff;
      }

      .code-body pre, .code-body code {
        margin: 0;
      }

  body
    div(class='code-body')
      pre(id='code')
        code(class='language-' + lang) #{code}

    script(src='/__prism.js')
