style.
  @font-face {
    font-family: 'Icons';
    src: url("/__fonts/icons.eot");
    src: url("/__fonts/icons.eot?#iefix") format('embedded-opentype'), url("/__fonts/icons.woff2") format('woff2'), url("/__fonts/icons.woff") format('woff'), url("/__fonts/icons.ttf") format('truetype'), url("/__fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
  }

  i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0em 0.25rem 0em 0em;
    width: 1.18em;
    height: 1em;
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  i.icon:before {
    background: none !important;
  }

  i.icon.folder:before {
    content: "\f07b";
  }

  i.icon.file:before {
    content: "\f15b";
  }

  i.icon.folder:before {
    content: "\f114";
  }

  i.icon.file.outline:before {
    content: "\f016";
  }

  i.icon.search:before {
    content: "\f002";
  }
