doctype html
html
  head
    title=title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/__github-markdown.css')
    style.
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }
  body 
    div(class='markdown-body')
      !=markdown
